@mixin flex-center($flex-direction) {
    display: flex;
    align-items: center;
    flex-direction: $flex-direction;
}

@mixin background-image ($url) {
    background-image: url($url);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

@mixin transition {
    transition: all 0.3s ease;
}

@mixin media-xs-sm {
    @media only screen and (max-width: 400px) {
        @content;
    }
}

@mixin media-sm {
    @media only screen and (max-width: 481px) {
        @content;
    }
}

@mixin media-md {
    @media only screen and (max-width: 768px) {
        @content;
    }
}

@mixin media-lg {
    @media only screen and (max-width: 1024px) {
        @content;
    }
}

@mixin media-xl {
    @media only screen and (max-width: 1200px) {
        @content;
    }
}

@mixin media-xxl {
    @media only screen and (min-width: 1440px) {
        @content;
    }
}